layout: index
description: Wedgetail is a testing utility to help you ensure your app stays performant.
subtitle: Time your functions in your tests
comments: false
install: yarn add -D wedgetail
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title High, Low, Average
      p.intro-feature-desc Wedgetail gives you accurate timings for the best, worst and average timings.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-tachometer
      h3.intro-feature-title Measure thousands of executions
      p.intro-feature-desc Get accurate statistics out of the box, by setting `numberOfExecutions` to at least 5000.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-paper-plane 
      h3.intro-feature-title Percentiles
      p.intro-feature-desc Wedgetail gives you the timings for the 99th, 95th, 90th, and 10th percentiles.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-check
      h3.intro-feature-title Expected timings
      p.intro-feature-desc Pass an object with the timings your test should be under and get a pass or fail back.